<% include ./HeaderFooter/Header.ejs %>
<%
    if(loginErr.length!==0){
%>
    <script>alert("<%=loginErr%>");</script>
<%
    }
%>
<div id="section" class="col">
    <div class="container">
    <section>
        <article id="login_article">
<%
    if(sessionId){
%>
        <div class="row">
            <div class="col-md-10">
                <p style="text-align:right;">
                <span style="font-size:25px"><%=sessionId.id%></span>
                님 반갑습니다.</p>
            </div>
            <div class="col-md-">
                <form name="logout_form" method="GET" action="/logout">
                    <button type='submit' class="btn btn-primary" >로그아웃</button>
                </form>
            </div>
        <div>
<%
    }else{
%>

        <div class="row">
            <div class="col-md-10">
            <form name="local_login" method="post" action="/local_login">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-0">
                            <label for="id">ID:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="id" placeholder="Enter your 'ID' ex) maru" required/>
                        </div>
                        <div class="col-md-0">
                            <label for="pw">PW:</label>
                        </div>
                        <div class="col">
                            <input type="password" class="form-control" name="pw" placeholder="Enter you 'PW' ex)1234" required/>
                        </div>
                        <div class="col-md-">
                            <button type="submit" class="btn btn-primary">로그인</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="col-md-1">
            <form name="local_login" method="get" action="/facebook_login">
                <button type="submit" class="btn btn-primary"><i class="fab fa-facebook" style="font-size:20px"></i>&nbsp;&nbsp;로그인</button>
            </form>
            </div>
        </div>
		<p style="color:red;margin-left:0;">
			!!주의 : 현재 facebook로그인 기능은 facebook앱이 개발자 모드이므로 타인은 로그인 불가능<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			시연 내용은 'Introduction' 카테고리에서 PPT의 내용을 참고해 주세요.
		</p>
<%
    }
%>
        </article>
        <hr>
        <article id="board_article">
        <div class="row">
            <div class="col">
            <table id="board_table" class="table table-striped">
            <thead class="thead-dark"> 
            <tr>
                <th>글번호</th>
                <th>글제목</th>
                <th>작성자</th>
                <th>글쓴시각</th>
                <th>조회수</th>
            </tr>
            </thead>
<%
    contentList.forEach(function(contentEl){
%>
            <tr>
                <td><%=contentEl.num%></td>
                <td><a href="/board_view/<%=contentEl.num%>?page=<%=curPage%>"><%=unescape(contentEl.title)%></a></td>
                <td><%=contentEl.userid%></td>
<%
        var mod_time=new Date(contentEl.mod_time);
%>
                <td><%=mod_time.getFullYear()%>
                    -<%=mod_time.getMonth()+1%>
                    -<%=mod_time.getDate()%>
                    &nbsp;<%=mod_time.getHours()%>
                    :<%=mod_time.getMinutes()%></td>
                <td><%=contentEl.view_num%></td>
            </tr>
<%
    })
%>
            </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a href="/board-write" class="btn btn-primary" style="margin-top:20px">글쓰기</a>
            </div>
            <div class="col">
            <nav id="pagenation" >
                <ul class="pagination" >
<%
	var totalPage;
	if(pagenation[0].count<=10){
		totalPage=1;
	}else{
		totalPage=pagenation[0].count%10===0?pagenation[0].count/10:parseInt(pagenation[0].count/10)+1;
	}
    var printPageNum=9;
    var currentPage=parseInt(curPage);
    var startPage=0;
    if(currentPage-4<=0){
        startPage=1;
    }else if(currentPage+4>totalPage){
        startPage=totalPage-(printPageNum-1);
    }else{
        startPage=currentPage-4;
    }
    var endPage=0;
    if(totalPage<printPageNum||currentPage+4>totalPage){
        endPage=totalPage;
    }else{
        endPage=startPage+8;
    }
%>
                    <li class="page-item"><a class="page-link" href="/passport_mysql/<%=currentPage-1===0?currentPage=1:currentPage-1%>">&lt;</a></li>
<%
    for(var i=startPage;i<=endPage;i++){
        if(i===currentPage){
%>
                    <li class="page-item active"><a class="page-link"><%=i%></a></li>
<%
        }else{
%>
                    <li class="page-item"><a class="page-link" href="/passport_mysql/<%=i%>"><%=i%></a></li>
<%
        }
    }
%>
                    <li class="page-item"><a class="page-link" href="/passport_mysql/<%=currentPage+1>endPage?currentPage=endPage:currentPage+1%>">&gt;</a></li>
                </ul>
            </nav>
            </div>
        </div>
        </article>
    </section>
    </div>
</div>
<link rel="stylesheet" href="./static/P_M.css">

<% include ./HeaderFooter/Footer.ejs %>